html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 100;
    font-family: 'Lato';
}

.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.title {
    font-size: 96px;
}

.login .logo {
    background-image: url("/images/logo.png");
    background-position: -42px center;
    height: 245px;
    text-indent: -9999px;
    width: 434px;
}
.section {
    display: inline-block;
    width: 33%;
}

.loginOptions div img {
    width: 250px;
}

.loginOptions div.loginFacebook img {
    width: 260px;
}